.frame3-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.frame3-frame3 {
  width: 100%;
  height: 2154px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 20px;
  background-color: rgba(52, 78, 65, 1);
}
.frame3-text {
  top: 100px;
  left: 119px;
  color: rgba(163, 177, 138, 1);
  height: auto;
  position: absolute;
  font-size: 125px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text01 {
  top: 315px;
  left: 119px;
  color: rgb(218, 215, 205);
  width: 781px;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text04 {
  font-style: normal;
}
.frame3-text06 {
  top: 565px;
  left: 119px;
  color: #DAD7CD;
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text08 {
  font-style: normal;
  font-weight: 400;
}
.frame3-text09 {
  font-style: normal;
  font-weight: 400;
}
.frame3-text11 {
  font-style: normal;
  font-weight: 400;
}
.frame3-text14 {
  font-weight: 400;
}
.frame3-fotinha {
  top: 100px;
  right: 147px;
  width: 414px;
  height: 552px;
  position: absolute;
  border-color: rgba(218, 215, 205, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 25px;
}
.frame3-competencias {
  top: 729px;
  right: 147px;
  width: 414px;
  height: 1191px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(163, 177, 138, 1);
}
.frame3-text16 {
  top: 32px;
  left: 82px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group7 {
  top: 116px;
  left: 23px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text18 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group8 {
  top: 224px;
  left: 24px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text20 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector01 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group9 {
  top: 332px;
  left: 23px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text22 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector02 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group10 {
  top: 440px;
  left: 25px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text24 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector03 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group11 {
  top: 548px;
  left: 23px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text26 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector04 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group12 {
  top: 656px;
  left: 24px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-vector05 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-text28 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group13 {
  top: 764px;
  left: 23px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text30 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector06 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-linguas {
  top: 1608px;
  right: 147px;
  width: 414px;
  height: 446px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(218, 215, 205, 1);
}
.frame3-text32 {
  top: 32px;
  left: 139px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-group71 {
  top: 116px;
  left: 23px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text34 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector07 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group81 {
  top: 224px;
  left: 24px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text36 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector08 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-group91 {
  top: 332px;
  left: 25px;
  width: 368px;
  height: 66px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame3-text38 {
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-vector09 {
  top: 41px;
  left: 1px;
  width: 367px;
  height: 25px;
  position: absolute;
}
.frame3-atividades {
  top: 1060px;
  left: 119px;
  width: 931px;
  height: 994px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(218, 215, 205, 1);
}
.frame3-text40 {
  top: 32px;
  left: 398px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text41 {
  top: 195px;
  left: 89px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text43 {
  top: 237px;
  left: 89px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text45 {
  top: 279px;
  left: 89px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text47 {
  top: 321px;
  left: 89px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text49 {
  top: 363px;
  left: 89px;
  color: rgba(88, 129, 87, 1);
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-frame4 {
  top: 791px;
  left: 119px;
  width: 948px;
  height: 154px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame3-text51 {
  color: rgba(218, 215, 205, 1);
  width: 383px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text53 {
  top: 82px;
  color: rgba(218, 215, 205, 1);
  width: 227px;
  height: auto;
  position: absolute;
  font-size: 35px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text54 {
  top: 77px;
  left: 227px;
  color: rgb(218, 215, 205);
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame3-text57 {
  font-style: normal;
  font-weight: 400;
}
@media(max-width: 1650px) {
  .frame3-text {
    left: 80px;
  }
  .frame3-text01 {
    left: 80px;
    color: rgb(218, 215, 205);
    font-size: 24px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .frame3-text02 {
    font-size: 35px;
  }
  .frame3-text04 {
    font-weight: 400;
  }
  .frame3-text06 {
    left: 80px;
    color: #DAD7CD;
  }
  .frame3-fotinha {
    right: 71px;
  }
  .frame3-competencias {
    right: 71px;
  }
  .frame3-linguas {
    right: 71px;
  }
  .frame3-atividades {
    left: 80px;
  }
  .frame3-frame4 {
    left: 80px;
  }
}
@media(max-width: 1520px) {
  .frame3-fotinha {
    top: 709px;
    left: 80px;
    width: 414px;
    height: 552px;
  }
  .frame3-competencias {
    top: 715px;
  }
  .frame3-linguas {
    bottom: 114px;
  }
  .frame3-atividades {
    top: 1553px;
    left: 84px;
    width: 610px;
    bottom: 101px;
    height: 502px;
  }
  .frame3-text40 {
    left: 230px;
  }
  .frame3-frame4 {
    top: 1293px;
  }
  .frame3-text54 {
    top: 150px;
    left: 0px;
    bottom: -70px;
    font-size: 24px;
  }
}
@media(max-width: 1200px) {
  .frame3-text {
    color: rgb(163, 177, 138);
    font-size: 125px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .frame3-competencias {
    top: 709px;
    right: 80px;
  }
  .frame3-linguas {
    right: 80px;
    bottom: 106px;
  }
  .frame3-atividades {
    left: 75px;
    width: 405px;
  }
  .frame3-text40 {
    top: 32px;
    left: 116px;
    color: rgb(88, 129, 87);
    font-size: 35px;
    font-family: Inter;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
  }
  .frame3-text41 {
    top: 104px;
    left: 37px;
  }
  .frame3-frame4 {
    top: 1264px;
    right: -28px;
    width: 400px;
  }
  .frame3-text51 {
    top: 40px;
    left: 3px;
  }
  .frame3-text53 {
    left: 2px;
    bottom: 8px;
  }
  .frame3-text54 {
    left: -4px;
    bottom: -95px;
  }
}
@media(max-width: 1050px) {
  .frame3-frame3 {
    width: 100%;
  }
  .frame3-text {
    top: 100px;
    left: 35px;
    color: rgb(163, 177, 138);
    font-size: 55px;
  }
  .frame3-text06{
    left: 31px
  }
  .frame3-text01 {
    width: 400px;
    top: 204px;
    left: 31px;
    color: rgb(218, 215, 205);
    font-size: 17px;
  }
  .frame3-text04 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  } 
  .frame3-fotinha{
    top: 580px;
    left: -40px;
  }
  .frame3-competencias{
    right: 31px;
    top: 200px;
  }
  .frame3-linguas{
    right: 31px;
    top: 1100px;
  }
  .frame3-frame4{
    left: -37px;
    top: 1000px;
  }
  .frame3-atividades{
    top: 1125px;
    left: -40px;
  }
  .frame3-fotinha, .frame3-atividades, .frame3-frame4{
    scale: 0.65;
  }
}

@media(max-width: 888px) {
  .frame3-frame3 {
    width: 100%;
    height: 1350px;
  }
  .frame3-text {
    top: 100px;
    left: 35px;
    color: rgb(163, 177, 138);
    font-size: 55px;
  }
  .frame3-text06{
    left: 31px
  }
  .frame3-text01 {
    width: 400px;
    top: 204px;
    left: 31px;
    color: rgb(218, 215, 205);
    font-size: 17px;
  }
  .frame3-text04 {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
  } 
  .frame3-fotinha{
    top: 525px;
    left: -80px;
  }
  .frame3-competencias{
    top: 349px;
    right: -70px;
  }
  .frame3-linguas{
    top: 970px;
    right: -70px;
  }
  .frame3-frame4{
    left: -75px;
    top: 900px;
  }
  .frame3-atividades{
    top: 930px;
    left: -78px;
  }
  .frame3-competencias, .frame3-linguas, .frame3-fotinha, .frame3-atividades, .frame3-frame4{
    scale: 0.45;
  }
}
@media(max-width: 425px) {
  
  .frame3-frame3 {
    width: 100%;
    height: 1050px;
  }
  .frame3-text {
    color: rgb(163, 177, 138);
    font-size: 45px;
  }
  .frame3-text01 {
    width: 400px;
    color: rgb(218, 215, 205);
    font-size: 10px;
  }
  .frame3-text04 {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
  }
  .frame3-text06{
    top: 400px;
    font-size: 15px;
  }
  .frame3-fotinha{
    top: 300px;
    left: -100px;
  }
  .frame3-competencias{
    top: 95px;
    right: -115px;
  }
  .frame3-linguas{
    top: 655px;
    right: -115px;
  }
  .frame3-frame4{
    top: 635px;
    left: -105px;
  }
  .frame3-atividades{
    top: 650px;
    left: -108px;
  }

  .frame3-competencias, .frame3-linguas, .frame3-fotinha, .frame3-atividades, .frame3-frame4{
    scale: 0.35;
  }
}
@media(max-width: 320px) {
  .frame3-competencias, .frame3-linguas, .frame3-fotinha, .frame3-atividades, .frame3-frame4{
    scale: 0.25;
  }
}
