#typewriter{
  color: rgb(126 33 212)
}
body{
  background-color: rgb(28 33 40);
}
#typewriter:after{
  content: "|";
  margin-left: 3px;
  font-weight: bold;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0};
}
.fotinha{
  border-radius: 100px 10px 100px 10px;
  width: 400px;
}
html {
  scroll-behavior: smooth;
}
.page1{
  display: block; 
}
.page2{
  display: none;
}
.fotinha {
  transform: translateX(0px);
  animation: float 6s ease-out infinite
    }
    @keyframes float {
    0%{
        transform: translateY(0px)
    }
        50%{
        transform: translateY(-10px)
    }
        100%{
        transform: translateY(0px)
    }
  }