#typewriter{
  color: rgb(48 86 211)
}
#typewriter:after{
  content: "|";
  margin-left: 3px;
  font-weight: bold;
  opacity: 1;
  animation: blink .7s infinite;
}

@keyframes blink {
  0%, 100% {opacity: 1;}
  50% {opacity: 0};
}
.fotinha{
  border-radius: 100px 10px 100px 10px;
  width: 400px;
}
html {
  scroll-behavior: smooth;
}
.page1{
  display: block; 
}
.page2{
  display: none;
}