body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div_miniaturas{
    margin-top: 15px;
    display: flex;
    height: 150px;
    width: auto;
    gap: 15px;
}

.miniaturas{
    width: 100%;
    height: 100%;
}

#imagem_principal{
    width: 414px;
    height: 414px;
}