tr{
    height: 45px;
}
td{
    width: 250px;
}
.Text-Block{
    height: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14;
    color: SlateGray
}
.Text-Box{
    border: solid 1px;
    width: 75px;
    height: 30px;
    font-size: 14;
    color: slategrey;
}
button{
    color: slategrey;
    border-color: Azure;
    cursor: pointer;
    height: 50px;
    width: 68px;
}
button:disabled{
    background-color: white;
    color: grey;
    cursor: auto;
}
#txtNome, #txtEmail{
    width: 160px;
}